* {
    margin: 0;
    
    box-sizing: border-box;
    /* border: 2px solid red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: "myFont";
    src: url("TechnoRaceItalic-eZRWe.otf")
     format('opentype');
    font-weight: normal;
    font-style: normal;
}


.fredoka-regular{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
  


.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}
  

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
  
body{
    font-family: "Fredoka",sans-serif;
    display: flex;
    gap: 50px;
    color: white;
    background-color: #172554;
    flex-direction: column;
}

:root{
    --default-padding : 10px;
}

.header{
    text-align: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    padding: var(--default-padding);
}


#logo{
   margin-right: auto;
}


.start-game{
    align-self: center;
}

.button{
    width: 100%;
    border-radius: var(--default-padding);
    height: 30px;
    border: none;
    background-color: #dc2626;
    color: white;
}

#result-dialog{
    align-self: center;
    justify-self: center;
    background-color: #1d4ed8;
    color: white;
    outline : none;
}


.symbols {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

p,label{
    font-size: 0.7rem;
}

#symbol-select{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    place-items: center;
}



.main{
    align-self: center;
    width: 100vw;
    gap: 20px;
}

.game-info{
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 180px;
}

#info{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

svg {
     fill:none;
}

.game-section{
    margin-right: auto;
    margin-right: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#grid{
    display: grid;
    border-radius: 10px;
    background-color: white;
    grid-template-columns: repeat(3,80px);
    grid-template-rows: repeat(3,80px);
    
}



#info{
    margin-top: 50px;
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

#info div {
    flex-grow: 1;
    font-size: 0.8rem;
    text-align: center;
}

#grid div{
    border: 2px solid #172554;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
}

#grid .third-row{
   border-bottom: none;
}


#x , #o {
    border-radius: 5px;
}
#x:hover , #o:hover{
     opacity: 0.5;
}
#error-message{

    color: red;
}
.footer-info{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.score {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

#result-dialog{
    width: 250px;
    background-color: #1e3a8a;
    border: none;
    /* margin-bottom: auto; */
    position: fixed;
    top : 0px;
    border-radius: 10px;
}

#winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over{
    font-family: 'myFont';
    color: yellow;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

#game-over-buttons{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
}

#quit-button , #back-button{
    border-radius: 7px;
    padding: 7px;
    font-size: 0.8rem;
    border: none;
    font-weight: 700;
    background-color: red;
    color:white;
}

#back-button{
    background-color:  green;
}